<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>



    <ion-list>
      <ion-item>
        <ion-select [(ngModel)]="SelectCategory" interface="popover" placeholder="Select category" (ionChange)="handleCategory($event)">
          <ion-select-option value="any">Any</ion-select-option>
          <ion-select-option value="misc">Misc</ion-select-option>
          <ion-select-option value="programming">Programming</ion-select-option>
          <ion-select-option value="dark">Dark</ion-select-option>
          <ion-select-option value="pun">Pun</ion-select-option>
          <ion-select-option value="spooky">Spooky</ion-select-option>
          <ion-select-option value="christmas">Christmas</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <ion-select [(ngModel)]="SelectBFlag" interface="popover" placeholder="Select censorship" [multiple]="true" (ionChange)="handleBlacklist($event)">
          <ion-select-option value="nsfw">Nsfw</ion-select-option>
          <ion-select-option value="religious">Religious</ion-select-option>
          <ion-select-option value="political">Political</ion-select-option>
          <ion-select-option value="racist">Racist</ion-select-option>
          <ion-select-option value="sexist">Sexist</ion-select-option>
          <ion-select-option value="explicit">Explicit</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <ion-select [(ngModel)]="SelectType" interface="popover" placeholder="Select type" (ionChange)="handleType($event)">
          <ion-select-option value="single">Single</ion-select-option>
          <ion-select-option value="two-part">Two part</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

  <ion-button style="margin:1em 2em 1em 2em" color="success" expand="block" (click)="generateLink()" [routerLink]="routeTo? '/tabs/tab2' : []">Generate link</ion-button>


</ion-content>
